.main-content {
  text-align: center;
  padding-top: 1.5em;
  position: relative;
}
.main-content h1 {
  font-size: 1.8rem;
  color: #000;
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 0 0.25em;
  display: inline-block;
}
.main-content h1:after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  margin-top: 0.65em;
  background-image: linear-gradient(
    to right,
    transparent 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.6) 70%,
    transparent 80%
  );
  z-index: -1;
}

.main-content .config {
  text-align: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-content .config .open_btn {
  cursor: pointer;
}
.main-content .config .open_btn:before {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
}
.main-content .config.open .open_btn:before {
  content: "\f107";
}
.main-content .config .query {
  text-align: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main-content .query {
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  text-align: left;
  padding: 0 0.5em 0.5em 0.5em;
}
.main-content .query fieldset {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4em;
}
.main-content .query fieldset > legend {
  width: initial;
  font-size: initial;
  margin: initial;
}
.main-content .query input[type="text"] {
  padding: 0 0.5em;
}

.main-content .query label {
  width: 80px;
  text-align: right;
  font-size: 0.875em;
}
.main-content .query .select {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
}
.main-content .query .select > button {
  display: inline-block;
  font-size: 0.75em;
  padding: 0.2em 0.8em;
  margin-left: -1px;
}
.main-content .query .select > button:first-child {
  border-radius: 4px 0 0 4px;
  margin-left: 0;
}
.main-content .query .select > button:last-child {
  border-radius: 0 4px 4px 0;
}
.main-content .query .select > button:focus {
  outline: none;
}
.main-content .query .select.enable > button {
  border-bottom-width: 5px;
}
.main-content .query .select.sort > button.active:not([name="none"]):after {
  content: "\f15d";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: bottom;
}
.main-content .query .select.sort.reverse > button.active:not([name="none"]):after {
  content: "\f15e";
}

.main-content .items {
  margin-top: 1em;
}
.main-content .items .group {
  margin-left: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}
.main-content .items .group[data-depth="1"] {
  margin-left: 0;
  border-width: 0;
}
.main-content .items .group > .header {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: left;
  padding: 0.1em 0.5em;
  margin-bottom: 0.1em;
}
.main-content .items .group[data-depth="1"] > .header {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: left;
  padding: 0.1em 0.5em;
  margin-bottom: 0.5em;
}
.main-content .items .item {
  display: inline-block;
  border-radius: 4px;
  margin: 1px;
  line-height: 1em;
  padding: 0.1em 0.3em;
  height: 21px;
  vertical-align: bottom;
}
.main-content .items .group .header .count {
  font-size: 0.83333em;
  font-weight: normal;
  font-style: italic;
  margin-left: 0.75em;
}
.main-content .items .item > .comma {
  display: inline-block;
  width: 0;
}

.main-content section {
  position: relative;
  margin-bottom: 250px;
}
.main-content .item_info {
  display: inline-block;
  position: absolute;
  border: 8px solid #000;
  border-radius: 6px;
  padding: 0em 0.5em 0.25em 0.5em;
  background-color: #333;
  color: #aaa;
  text-align: left;
  font-weight: bold;
  line-height: 1.25em;
}
.main-content .item_info .item_name {
  display: inline-block;
  font-size: 1.75em;
  line-height: 1.2em;
  margin-bottom: 0.1em;
}
.main-content .item_info .data[lang="ja"] {
  font-weight: normal;
}
.main-content .item_info > hr {
  margin: 0.5em 0;
}

.main-content svg.radical {
  width: 1em;
  stroke-width: 85;
  stroke: #000;
  fill: none;
  stroke-linecap: square;
  stroke-miterlimit: 2;
}

/* THEME */
.main-content .select > button {
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  cursor: pointer;
}
.main-content .select > button:hover:not(:disabled) {
  background-position: 0 -8px;
  transition: background-position 0.1s linear;
}
.main-content .select > button.active {
  background-color: #b3e6b3;
  background-image: linear-gradient(to bottom, #ecf9ec, #b3e6b3);
}
.main-content .select > button:disabled {
  color: #aaa;
  cursor: default;
}
.main-content .select.enable > button.active {
  background-color: #e6e6e6;
  background-image: none;
  color: #999;
}

.main-content .items .group > .header {
  color: #000;
  border-top: 1px solid #ddd;
}
.main-content .items .group[data-depth="1"] > .header {
  color: #000;
  background-color: #ddd;
  border-top: 1px solid #555;
}

.main-content .items .item {
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  cursor: pointer;
}
.main-content .items .item a {
  color: inherit;
}

.main-content .items[data-color="item_type"] .item[data-type="rad"] {
  background-color: #66c7ff;
  color: #fff;
  stroke: #fff;
}
.main-content .items[data-color="item_type"] .item[data-type="kan"] {
  background-color: #ff66c7;
  color: #fff;
}
.main-content .items[data-color="item_type"] .item[data-type="voc"] {
  background-color: #c766ff;
  color: #fff;
}
.main-content .items[data-color="item_type"] [data-type="rad"] svg {
  stroke: #fff;
}

.main-content .items[data-color="srs"] .item[data-srs="lock"] {
  background-image: linear-gradient(-30deg, #cccccc, #e6e6e6);
  color: #999;
}
.main-content .items[data-color="srs"] .item[data-srs="init"] {
  background-image: linear-gradient(-30deg, #cccccc, #e6e6e6);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="appr1"] {
  background-image: linear-gradient(-30deg, #ff33bb, #ff99dd);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="appr2"] {
  background-image: linear-gradient(-30deg, #ff33bb, #ff99dd);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="appr3"] {
  background-image: linear-gradient(-30deg, #ff33bb, #ff99dd);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="appr4"] {
  background-image: linear-gradient(-30deg, #ff33bb, #ff99dd);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="guru1"] {
  background-image: linear-gradient(-30deg, #bb60d2, #eed7f4);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="guru2"] {
  background-image: linear-gradient(-30deg, #bb60d2, #eed7f4);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="mast"] {
  background-image: linear-gradient(-30deg, #7c92e9, #d3dbf8);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="enli"] {
  background-image: linear-gradient(-30deg, #00aaff, #99ddff);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="burn"] {
  background-image: linear-gradient(-30deg, #faac05, #fdde9b);
  color: #000;
}
.main-content .items[data-color="srs"] .item[data-srs="nonwk"] {
  background-image: linear-gradient(-30deg, #b3e6b3, #ecf9ec);
  color: #000;
}
.main-content .items[data-color="srs"] [data-type="rad"] svg {
  stroke: #000;
  stroke-width: 60;
}
.main-content .items[data-color="srs"] [data-type="rad"][data-srs="lock"] svg {
  stroke: #999;
}

.main-content .item_info .data {
  color: #fff;
}
.main-content .item_info [data-type="rad"] svg {
  stroke: #fff;
}

.main-content .query .enable [name="rad"] {
  border-bottom-color: #66c7ff;
}
.main-content .query .enable [name="kan"] {
  border-bottom-color: #ff66c7;
}
.main-content .query .enable [name="voc"] {
  border-bottom-color: #c766ff;
}

.main-content .query .enable [name="lock"] {
  border-bottom-color: #aaaaaa44;
}
.main-content .query .enable [name="init"] {
  border-bottom-color: #aaaaaa;
}
.main-content .query .enable [name="appr1"] {
  border-bottom-color: #ff80d5;
}
.main-content .query .enable [name="appr2"] {
  border-bottom-color: #ff80d5;
}
.main-content .query .enable [name="appr3"] {
  border-bottom-color: #ff80d5;
}
.main-content .query .enable [name="appr4"] {
  border-bottom-color: #ff80d5;
}
.main-content .query .enable [name="guru1"] {
  border-bottom-color: #bb60d2;
}
.main-content .query .enable [name="guru2"] {
  border-bottom-color: #bb60d2;
}
.main-content .query .enable [name="mast"] {
  border-bottom-color: #6680e5;
}
.main-content .query .enable [name="enli"] {
  border-bottom-color: #00aaff;
}
.main-content .query .enable [name="burn"] {
  border-bottom-color: #faac05;
}
.main-content .query .enable [name="nonwk"] {
  border-bottom-color: #9fdf9f;
}

.main-content .items.hide_rad [data-type="rad"] {
  display: none;
}
.main-content .items.hide_kan [data-type="kan"] {
  display: none;
}
.main-content .items.hide_voc [data-type="voc"] {
  display: none;
}

.main-content .items.hide_lock .item[data-srs="lock"] {
  display: none;
}
.main-content .items.hide_init .item[data-srs="init"] {
  display: none;
}
.main-content .items.hide_appr1 .item[data-srs="appr1"] {
  display: none;
}
.main-content .items.hide_appr2 .item[data-srs="appr2"] {
  display: none;
}
.main-content .items.hide_appr3 .item[data-srs="appr3"] {
  display: none;
}
.main-content .items.hide_appr4 .item[data-srs="appr4"] {
  display: none;
}
.main-content .items.hide_guru1 .item[data-srs="guru1"] {
  display: none;
}
.main-content .items.hide_guru2 .item[data-srs="guru2"] {
  display: none;
}
.main-content .items.hide_mast .item[data-srs="mast"] {
  display: none;
}
.main-content .items.hide_enli .item[data-srs="enli"] {
  display: none;
}
.main-content .items.hide_burn .item[data-srs="burn"] {
  display: none;
}
.main-content .items.hide_nonwk .item[data-srs="nonwk"] {
  display: none;
}

.main-content .item_info > hr {
  background-color: #888;
}
