<!--
@version     1.0.2
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/charts/frequency.css" />

<section name="charts-freq">
  <h1>Frequency Coverage</h1>
  <br />

  <div class="config">
    <span class="open_btn">Open Config</span>
    <div class="query" style="display: none">
      <fieldset>
        <legend>Frequency Grouping</legend>
        <div class="irow">
          <label>Group Size:</label>
          <input name="freq_size" type="text" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Calculations</legend>
        <div class="irow checkbox">
          <input type="checkbox" name="cumulative" />
          <label>Cumulative <span class="note">(e.g. F3 = F1+F2+F3)</span></label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="chart">Loading...</div>
</section>

<script src="/js/components/charts/frequency.js"></script>
