<!--
@version     1.0.2
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/charts/joyo.css" />

<section name="charts-joyo">
  <h1>Joyo Coverage</h1>
  <br />

  <div class="config">
    <span class="open_btn">Open Config</span>
    <div class="query" style="display: none">
      <fieldset>
        <legend>Calculations</legend>
        <div class="irow checkbox">
          <input type="checkbox" name="cumulative" />
          <label>Cumulative <span class="note">(e.g. Grade3 = Grade1 + Grade2 + Grade3)</span></label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="chart">Loading...</div>
</section>

<script src="/js/components/charts/joyo.js"></script>
