<!--
@version     1.0.3
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/charts/reading.css" />

<section name="charts-reading">
  <h1>Reading Coverage</h1>
  <br />

  <div class="chart">Loading...</div>
</section>

<script>
  (function () {
    document.title = "wkstats: Reading Coverage";

    //================================================
    let MAX_LEVEL = 60;

    let use_snapshot = !wkof.user || wkof.user.subscription.max_level_granted < MAX_LEVEL;

    if (use_snapshot) {
      wkof.load_script(wkof.support_files["wk_snapshot.js"]);
    } else {
      wkof.load_script(wkof.support_files["calc_stats.js"], true);
    }

    let groups;
    let promises = Promise.all([
      wkof.load_script(wkof.support_files["freq_aozora.js"], true),
      wkof.load_script(wkof.support_files["freq_nhkeasy.js"], true),
      wkof.load_script(wkof.support_files["freq_news.js"], true),
      wkof.load_script(wkof.support_files["freq_twitter.js"], true),
      wkof.load_script(wkof.support_files["freq_wikipedia.js"], true),
    ]).then(() => {
      groups = [freq_aozora, freq_nhkeasy, freq_news, freq_twitter, freq_wikipedia];
      wkof.set_state("wkof.reading.kanji", "ready");
    });

    let items_src = use_snapshot ? "wk_snapshot" : "wkdata.items";
    wkof.ready(items_src + ",reading.kanji").then(draw_chart);

    $(".main-content .config .open_btn").on("click", config_open_clicked);
    $('.main-content .config input[name="cumulative"]').on("click", cumulative_clicked);

    //================================================
    function config_open_clicked(e) {
      let settings = wkof.settings[settings_name];
      settings.config_open = !settings.config_open;
      init_query_ui();
      wkof.Settings.save(settings_name);
    }

    //================================================
    function cumulative_clicked(e) {
      let settings = wkof.settings[settings_name];
      settings.cumulative = !settings.cumulative;
      init_query_ui();
      draw_chart();
      wkof.Settings.save(settings_name);
    }

    //================================================
    let data;
    function draw_chart() {
      let content = $('section[name="charts-reading"] .chart');
      content.html("");

      let user_level;
      if (!data) {
        if (use_snapshot) {
          process_items_snapshot();
          user_level = 61;
        } else {
          process_items();
          user_level = wkof.user.level;
        }
      }

      // Draw headers.
      let have_leftover = false;
      let html =
        '<table class="coverage"><tr class="header"><td>Wanikani</td><td class="header_div" colspan="' +
        data.length +
        '">Frequency</td></tr>';
      html += '<tr class="header"><td>Level</td>';
      for (let col = 0; col < data.length; col++) {
        html += '<td><span class="nowrap">' + data[col].name + "</span></td>";
      }
      html += '</tr><tr class="header count bottom"><td></td>';
      for (let col = 0; col < data.length; col++) {
        html += '<td>(<a href="' + data[col].source + '" target="_blank">source</a>)</td>';
      }
      html += "</tr>";

      // Draw data.
      let complete = new Array(data.length).fill(false);
      let sum = new Array(data.length).fill(0);
      for (let row = 0; row < MAX_LEVEL; row++) {
        html += "<tr" + (row + 1 === user_level ? ' class="current_level"' : "") + ">";
        html += "<td>" + (row + 1) + "</td>";
        for (let col = 0; col < data.length; col++) {
          let total = data[col].group_total;
          let count = data[col].levels[row];
          sum[col] += count;
          if (!complete[col]) {
            html += "<td>" + (((sum[col] / total) * 100).toFixed(2) + "%") + "</td>";
            if (sum === total) complete[col] = true;
          } else {
            html += "<td>---</td>";
          }
        }
        html += "</tr>";
      }
      html += "</table>";
      content.html(html);
    }

    //================================================
    function process_items_snapshot() {
      data = groups.map((group) => {
        let levels = new Array(MAX_LEVEL).fill(0);
        for (let idx = 0; idx < group.list.length; idx++) {
          let slug = group.list[idx][0];
          let lvl;
          for (lvl = 1; lvl <= 60; lvl++) {
            if (wk_snapshot[lvl].indexOf(slug) >= 0) {
              levels[lvl - 1] += group.list[idx][1];
              break;
            }
          }
        }
        return { name: group.label, levels: levels, group_total: group.total, source: group.source };
      });
    }

    //================================================
    function process_items() {
      data = groups.map((group) => {
        let levels = new Array(MAX_LEVEL).fill(0);
        for (let idx = 0; idx < group.list.length; idx++) {
          let slug = group.list[idx][0];
          let wk_item = wkdata.items_by_slug[slug];
          if (wk_item instanceof Array) wk_item = wk_item.filter((item) => item.object === "kanji")[0];
          if (wk_item) {
            levels[wk_item.data.level - 1] += group.list[idx][1];
          }
        }
        return { name: group.label, levels: levels, group_total: group.total, source: group.source };
      });
    }
  })();
</script>
