<!--
@version     1.0.1
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/progress/dashboard.css" />

<section name="current_status">
  <h1>Current Status</h1>

  <table name="current_status">
    <tr>
      <th>Level:</th>
      <td data-id="user_level">--</td>
    </tr>
    <tr>
      <th>Typical Level-Up:</th>
      <td data-id="typical_levelup">--</td>
    </tr>
    <tr>
      <th>Time on Level:</th>
      <td data-id="time_on_level">--</td>
    </tr>
    <tr class="level_up_in">
      <th>Estimated Level-Up In:</th>
      <td data-id="levelup_in">--</td>
    </tr>
    <tr class="burn_all" hidden>
      <th>Burn-All In:</th>
      <td data-id="burn_all_in">--</td>
    </tr>
    <tr>
      <th data-label-id="start_date">Start Date:</th>
      <td data-id="start_date">--</td>
    </tr>
    <tr class="restart_date" hidden>
      <th>Restart Date:</th>
      <td data-id="restart_date">--</td>
    </tr>
    <tr>
      <th class="row_header">Items Learned (Guru+):</th>
      <td>
        <span class="rad" lang="ja"><span data-id="radicals_learned">--</span>部首</span>
        <span class="kan" lang="ja"><span data-id="kanji_learned">--</span>漢字</span>
        <span class="voc" lang="ja"><span data-id="vocabulary_learned">--</span>単語</span>
      </td>
    </tr>
  </table>
</section>

<section name="accuracy">
  <h1><span>Accuracy</span></h1>

  <table name="accuracy">
    <tr class="header border-bottom">
      <th></th>
      <th>Reading</th>
      <th>Meaning</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Total Reviews:</th>
      <td data-id="total_readings">---</td>
      <td data-id="total_meanings">---</td>
      <td data-id="total_reviews">---</td>
    </tr>
    <tr>
      <th>Correct:</th>
      <td data-id="correct_readings">---</td>
      <td data-id="correct_meanings">---</td>
      <td data-id="correct_reviews">---</td>
    </tr>
    <tr>
      <th>Incorrect:</th>
      <td data-id="incorrect_readings">---</td>
      <td data-id="incorrect_meanings">---</td>
      <td data-id="incorrect_reviews">---</td>
    </tr>
    <tr class="border-bottom">
      <th>Accuracy:</th>
      <td data-id="accuracy_readings">---</td>
      <td data-id="accuracy_meanings">---</td>
      <td data-id="accuracy_total">---</td>
    </tr>
    <tr>
      <th>Radicals:</th>
      <td class="rad" data-id="radical_readings">---</td>
      <td class="rad" data-id="radical_meanings">---</td>
      <td class="rad" data-id="radical_total">---</td>
    </tr>
    <tr>
      <th>Kanji:</th>
      <td class="kan" data-id="kanji_readings">---</td>
      <td class="kan" data-id="kanji_meanings">---</td>
      <td class="kan" data-id="kanji_total">---</td>
    </tr>
    <tr>
      <th>Vocabulary:</th>
      <td class="voc" data-id="vocabulary_readings">---</td>
      <td class="voc" data-id="vocabulary_meanings">---</td>
      <td class="voc" data-id="vocabulary_total">---</td>
    </tr>
  </table>
</section>

<section name="progress" id="progress">
  <h1><span>Progress</span></h1>

  <div class="progress-container" data-label="--% (---- / ---- in Guru+)" data-id="overall-learned">
    <div class="progress-fill burned-color" data-id="burned-learned-fill"></div>
    <div class="progress-fill enlightened-color" data-id="enlightened-learned-fill"></div>
    <div class="progress-fill master-color" data-id="master-learned-fill"></div>
    <div class="progress-fill guru-color" data-id="guru-learned-fill"></div>
    <div class="progress-fill apprentice-color" data-id="apprentice-learned-fill"></div>
  </div>
</section>

<script src="/js/components/progress/dashboard.js"></script>
