<!--
@version     1.0.1
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/progress/level-up.css" />

<section name="level-up">
  <h1>Level-up</h1>
  <br />

  <p class="init_msg">Calculating...</p>

  <table class="chart" hidden>
    <tr>
      <td></td>
      <td class="average"></td>
    </tr>
    <tr>
      <td></td>
      <td class="median"></td>
    </tr>
    <tr>
      <td class="y_labels"></td>
      <td class="data"></td>
      <td class="avg_slider"></td>
    </tr>
  </table>
</section>

<script src="/js/components/progress/level-up.js"></script>
