<!--
@version     1.0.1
@copyright   2018+, Robin Findley
-->

<style>
  .main-content {
    text-align: center;
    padding-top: 1em;
  }
  .apikey-dialog {
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em 2em 2em;
    border-radius: 1em;
  }
  .apikey-dialog h1 {
    font-size: 1.8rem;
  }
  .apikey-dialog p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .apikey-dialog note {
    font-style: italic;
    font-size: 0.8em;
  }
  .apikey-dialog input.apikey {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .apikey-dialog button.submit {
    margin-top: 0.5em;
  }

  /* THEME */
  .apikey-dialog {
    border: 2px solid #88c;
    background-image: linear-gradient(-30deg, #f3f3ff, #fcfcff);
  }
  .apikey-dialog h1 {
    color: #000;
    text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  }
  .apikey-dialog input.apikey::placeholder {
    color: #00000055;
  }
  .apikey-dialog note.error {
    color: red;
  }
</style>

<div class="apikey-dialog">
  <h1>Login</h1>
  <p>
    Enter your API Version 2 key.<br />
    <note
      >(You can find it [<a href="https://www.wanikani.com/settings/personal_access_tokens" target="_blank">here</a
      >])</note
    >
  </p>
  <input class="apikey" type="text" size="38" placeholder="Paste your APIv2 key here" />
  <button type="submit" class="submit">Login</button><br />
  <note class="error"></note>
</div>

<script>
  (function () {
    document.title = "wkstats: Login";

    if (wkof.user) return nav.go("/progress/dashboard");

    document.querySelector(".apikey-dialog button.submit").addEventListener("click", function (e) {
      var apikey = document.querySelector(".apikey-dialog input.apikey").value.replace(/(^\s*|\s*$)/g, "");
      if (wkof.Apiv2.is_valid_apikey_format(apikey)) {
        localStorage.setItem("apiv2_key", apikey);

        // Tell the framework we have an API key ready to try.
        wkof.set_state("wkof.Apiv2.key", "retry");
      } else {
        set_error("Invalid API key format!");
      }
      return false;
    });

    function set_error(message) {
      document.querySelector(".apikey-dialog note.error").innerText = message;
    }

    wkof.wait_state("wkof.Apiv2.key", "error", error);
    wkof.wait_state("wkof.Apiv2.key", "ready", ready);

    function error() {
      var error = wkof.get_state("wkof.Apiv2.key.error");
      set_error(error);
    }

    function ready() {
      set_error("");
    }
  })();
</script>
