<!--
@version     1.0.1
@copyright   2018+, Robin Findley
-->
<link rel="stylesheet" href="/css/components/login.css" />

<div class="apikey-dialog">
  <h1>Login</h1>
  <p>
    Enter your API Version 2 key.<br />
    <note
      >(You can find it [<a href="https://www.wanikani.com/settings/personal_access_tokens" target="_blank">here</a
      >])</note
    >
  </p>
  <input class="apikey" type="text" size="38" placeholder="Paste your APIv2 key here" />
  <button type="submit" class="submit">Login</button><br />
  <note class="error"></note>
</div>

<script src="/js/components/login.js"></script>
