<!--
@version     1.0.5
@copyright   2018+, Robin Findley
-->

<style>
.main-content {text-align:center;padding-top:1.5em; position:relative;}
.main-content h1 {font-size:1.8rem; color:#000; text-shadow:0.0625em 0.0625em 0.125em rgba(0,0,0,0.25); background-color:white; padding:0 0.25em; display:inline-block;}
.main-content h1:after {content:""; position:absolute; height:1px; left:0; right:0; margin-top:0.65em; background-image:linear-gradient(to right,transparent 20%,rgba(0,0,0,0.6) 30%,rgba(0,0,0,0.6) 70%,transparent 80%); z-index:-1;}

.main-content .config {text-align:left; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.main-content .config .open_btn {cursor:pointer;}
.main-content .config .open_btn:before {content:"\f105"; font-family:FontAwesome; display:inline-block; width:1em;}
.main-content .config.open .open_btn:before {content:"\f107";}
.main-content .config .query {text-align:left; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.main-content .query {border:1px solid #ccc; background-color:rgba(0,0,0,0.03); border-radius:6px; text-align:left; padding:0 0.5em 0.5em 0.5em;}
.main-content .query fieldset {background-color:rgba(0,0,0,0.03); border:1px solid #ccc; border-radius:4px; padding:.4em;}
.main-content .query fieldset > legend {width:initial; font-size:initial; margin:initial;}
.main-content .query input[type="text"] {padding:0 0.5em;}

.main-content .query label {width:80px; text-align:right; font-size:0.875em;}
.main-content .query .select {display:inline-flex; flex-wrap:wrap; padding:0; margin-bottom:0; margin-left:0.5em;}
.main-content .query .select > button {display:inline-block; font-size:0.75em; padding:.2em .8em; margin-left:-1px;}
.main-content .query .select > button:first-child {border-radius:4px 0 0 4px; margin-left:0;}
.main-content .query .select > button:last-child {border-radius:0 4px 4px 0;}
.main-content .query .select > button:focus {outline:none;}
.main-content .query .select.enable > button {border-bottom-width:5px;}
.main-content .query .select.sort > button.active:not([name="none"]):after {content:"\f15d"; font-family:FontAwesome; display:inline-block; margin-left:0.5em; vertical-align:bottom;}
.main-content .query .select.sort.reverse > button.active:not([name="none"]):after {content:"\f15e";}

.main-content .items {margin-top:1em;}
.main-content .items .group {margin-left:1em; margin-bottom:0.5em; text-align:left;}
.main-content .items .group[data-depth="1"] {margin-left:0; border-width:0;}
.main-content .items .group > .header {font-size:0.75em; font-weight:bold; line-height:1.1em; text-align:left; padding:0.1em 0.5em; margin-bottom:0.1em;}
.main-content .items .group[data-depth="1"] > .header {font-size:0.75em; font-weight:bold; line-height:1.1em; text-align:left; padding:0.1em 0.5em; margin-bottom:0.5em;}
.main-content .items .item {display:inline-block; border-radius:4px; margin:1px; line-height:1em; padding:.1em .3em; height:21px; vertical-align:bottom;}
.main-content .items .group .header .count {font-size:0.83333em; font-weight:normal; font-style:italic; margin-left:0.75em;}
.main-content .items .item > .comma {display:inline-block; width:0;}

.main-content section {position:relative; margin-bottom:250px;}
.main-content .item_info {display:inline-block; position:absolute; border:8px solid #000; border-radius:6px; padding:0em 0.5em 0.25em 0.5em; background-color:#333; color:#aaa; text-align:left; font-weight:bold; line-height:1.25em;}
.main-content .item_info .item_name {display:inline-block; font-size:1.75em; line-height:1.2em; margin-bottom:0.1em;}
.main-content .item_info .data[lang="ja"] {font-weight:normal;}
.main-content .item_info > hr {margin:0.5em 0;}

.main-content svg.radical {width:1em; stroke-width:85; stroke:#000; fill:none; stroke-linecap:square; stroke-miterlimit:2;}

/* THEME */
.main-content .select > button {background-color:#e6e6e6; background-image:linear-gradient(to bottom,#fff,#e6e6e6); color:#333; text-shadow:0 1px 1px rgba(255,255,255,.75); background-repeat:repeat-x; border:1px solid #ccc; border-bottom-color:#b3b3b3; cursor:pointer;}
.main-content .select > button:hover:not(:disabled) {background-position:0 -8px; transition:background-position 0.1s linear;}
.main-content .select > button.active {background-color:#b3e6b3; background-image:linear-gradient(to bottom, #ecf9ec, #b3e6b3);}
.main-content .select > button:disabled {color:#aaa; cursor:default;}
.main-content .select.enable > button.active {background-color:#e6e6e6; background-image:none; color:#999;}

.main-content .items .group > .header {color:#000; border-top:1px solid #ddd;}
.main-content .items .group[data-depth="1"] > .header {color:#000; background-color:#ddd; border-top:1px solid #555;}

.main-content .items .item {border-width:1px; border-style:solid; border-color:#888; cursor:pointer;}
.main-content .items .item a {color:inherit;}

.main-content .items[data-color="item_type"] .item[data-type="rad"] {background-color:#66c7ff; color:#fff; stroke:#fff;}
.main-content .items[data-color="item_type"] .item[data-type="kan"] {background-color:#ff66c7; color:#fff;}
.main-content .items[data-color="item_type"] .item[data-type="voc"] {background-color:#c766ff; color:#fff;}
.main-content .items[data-color="item_type"] [data-type="rad"] svg {stroke:#fff;}

.main-content .items[data-color="srs"] .item[data-srs="lock"] {background-image:linear-gradient(-30deg, #cccccc, #e6e6e6); color:#999;}
.main-content .items[data-color="srs"] .item[data-srs="init"] {background-image:linear-gradient(-30deg, #cccccc, #e6e6e6); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="appr1"] {background-image:linear-gradient(-30deg, #ff33bb, #ff99dd); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="appr2"] {background-image:linear-gradient(-30deg, #ff33bb, #ff99dd); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="appr3"] {background-image:linear-gradient(-30deg, #ff33bb, #ff99dd); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="appr4"] {background-image:linear-gradient(-30deg, #ff33bb, #ff99dd); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="guru1"] {background-image:linear-gradient(-30deg, #bb60d2, #eed7f4); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="guru2"] {background-image:linear-gradient(-30deg, #bb60d2, #eed7f4); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="mast"] {background-image:linear-gradient(-30deg, #7c92e9, #d3dbf8); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="enli"] {background-image:linear-gradient(-30deg, #00aaff, #99ddff); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="burn"] {background-image:linear-gradient(-30deg, #faac05, #fdde9b); color:#000;}
.main-content .items[data-color="srs"] .item[data-srs="nonwk"] {background-image:linear-gradient(-30deg, #b3e6b3, #ecf9ec); color:#000;}
.main-content .items[data-color="srs"] [data-type="rad"] svg {stroke:#000; stroke-width:60;}
.main-content .items[data-color="srs"] [data-type="rad"][data-srs="lock"] svg {stroke:#999;}

.main-content .item_info .data {color:#fff;}
.main-content .item_info [data-type="rad"] svg {stroke:#fff;}

.main-content .query .enable [name="rad"] {border-bottom-color:#66c7ff;}
.main-content .query .enable [name="kan"] {border-bottom-color:#ff66c7;}
.main-content .query .enable [name="voc"] {border-bottom-color:#c766ff;}

.main-content .query .enable [name="lock"] {border-bottom-color:#aaaaaa44;}
.main-content .query .enable [name="init"] {border-bottom-color:#aaaaaa;}
.main-content .query .enable [name="appr1"] {border-bottom-color:#ff80d5;}
.main-content .query .enable [name="appr2"] {border-bottom-color:#ff80d5;}
.main-content .query .enable [name="appr3"] {border-bottom-color:#ff80d5;}
.main-content .query .enable [name="appr4"] {border-bottom-color:#ff80d5;}
.main-content .query .enable [name="guru1"] {border-bottom-color:#bb60d2;}
.main-content .query .enable [name="guru2"] {border-bottom-color:#bb60d2;}
.main-content .query .enable [name="mast"] {border-bottom-color:#6680e5;}
.main-content .query .enable [name="enli"] {border-bottom-color:#00aaff;}
.main-content .query .enable [name="burn"] {border-bottom-color:#faac05;}
.main-content .query .enable [name="nonwk"] {border-bottom-color:#9fdf9f;}

.main-content .items.hide_rad [data-type="rad"] {display:none;}
.main-content .items.hide_kan [data-type="kan"] {display:none;}
.main-content .items.hide_voc [data-type="voc"] {display:none;}

.main-content .items.hide_lock .item[data-srs="lock"] {display:none;}
.main-content .items.hide_init .item[data-srs="init"] {display:none;}
.main-content .items.hide_appr1 .item[data-srs="appr1"] {display:none;}
.main-content .items.hide_appr2 .item[data-srs="appr2"] {display:none;}
.main-content .items.hide_appr3 .item[data-srs="appr3"] {display:none;}
.main-content .items.hide_appr4 .item[data-srs="appr4"] {display:none;}
.main-content .items.hide_guru1 .item[data-srs="guru1"] {display:none;}
.main-content .items.hide_guru2 .item[data-srs="guru2"] {display:none;}
.main-content .items.hide_mast .item[data-srs="mast"] {display:none;}
.main-content .items.hide_enli .item[data-srs="enli"] {display:none;}
.main-content .items.hide_burn .item[data-srs="burn"] {display:none;}
.main-content .items.hide_nonwk .item[data-srs="nonwk"] {display:none;}

.main-content .item_info > hr {background-color:#888;}

</style>

<section name="items-joyo">
  <h1>Joyo Kanji</h1><br>

  <div class="config">
    <span class="open_btn">Open Config</span>
    <div class="query" style="display:none">

      <fieldset>
        <legend>Group By</legend>
        <div class="irow">
          <label>Primary:</label>
          <span name="group1" class="select sort" title="Click to group items, sorted in ascending order.
Click again or shift-click to reverse sort order.">
            <button name="none">None</button>
            <button name="joyo_level">Joyo Level</button>
            <button name="wk_level">Wanikani Level</button>
            <button name="srs">SRS Stage</button>
          </span>
        </div>
        <div class="irow">
          <label>Secondary:</label>
          <span name="group2" class="select sort" title="Click to group items, sorted in ascending order.
Click again or shift-click to reverse sort order.">
            <button name="none">None</button>
            <button name="joyo_level">Joyo Level</button>
            <button name="wk_level">Wanikani Level</button>
            <button name="srs">SRS Stage</button>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Sort Items By</legend>
        <div class="irow">
          <label>Sort By:</label>
          <span name="sort" class="select sort" title="Click to sort in ascending order.
Click again or shift-click to reverse sort order.">
            <button name="joyo_level">Joyo Level</button>
            <button name="wk_level">Wanikani Level</button>
            <button name="srs">SRS Stage</button>
            <button name="slug">Item Name</button>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Show/Hide</legend>
        <div class="irow">
          <label>SRS Stage:</label>
          <span name="enable" class="select multi enable" title="Click to toggle visibility of this category.
Shift-click to hide all except this category.
Shift-click again to restore all items to visible.">
            <button name="lock">Locked</button>
            <button name="init">Lesson</button>
            <button name="appr1">Apprentice 1</button>
            <button name="appr2">Apprentice 2</button>
            <button name="appr3">Apprentice 3</button>
            <button name="appr4">Apprentice 4</button>
            <button name="guru1">Guru 1</button>
            <button name="guru2">Guru 2</button>
            <button name="mast">Master</button>
            <button name="enli">Enlightened</button>
            <button name="burn">Burned</button>
            <button name="nonwk">Not on WK</button>
          </span>
        </div>
      </fieldset>

    </div>
  </div>

  <div class="items">Loading...</div>
  <div class="item_info" hidden></div>

</section>

<script>

(function() {
    document.title = 'wkstats: Joyo Kanji';

    if (!wkof.user) return nav.login();

    wkof.load_script(wkof.support_files['calc_stats.js'], true);
    wkof.load_script(wkof.support_files['joyo_kanji.js'], true);

    let settings_name = 'items_joyo';
    load_settings();
    wkof.ready('settings.'+settings_name).then(init_query_ui);
    wkof.ready('wkdata.items,joyo.kanji,settings.'+settings_name).then(populate_items);

    $('.main-content .config .open_btn').on('click', config_open_clicked);
    $('.main-content .query button').on('click', query_button_clicked);
    $('.main-content .items').on('click', '.item', item_clicked);
    $('.main-content .items').on('copy', copy_items);
    $('.main-content .items').on('mouseenter', '.item', item_info_show);
    $('.main-content .items').on('mouseleave', '.group', item_info_hide);

    //================================================
    let srs_class = ['nonwk','lock','init','appr1','appr2','appr3','appr4','guru1','guru2','mast','enli','burn'];
    let srs_names = ['Not On Wanikani','Locked','Lesson','Apprentice 1','Apprentice 2','Apprentice 3','Apprentice 4','Guru 1','Guru 2','Master','Enlightened','Burned'];

    //================================================
    function load_settings() {
        let default_settings = {
            config_open: false,
            group1: 'joyo_level',
            group1_reverse: false,
            group2: 'none',
            group2_reverse: false,
            sort: 'srs',
            sort_reverse: false,
            enabled: {
                rad:true, kan:true, voc:true,
                lock:true, init:true, appr1:true, appr2:true, appr3:true, appr4:true,
                guru1:true, guru2:true, mast:true, enli:true, burn:true
            },
        };
        wkof.Settings.load(settings_name, default_settings).then(settings => {
            wkof.set_state('wkof.settings.'+settings_name, 'ready');
        });
    }

    //================================================
    function init_query_ui() {
        let settings = wkof.settings[settings_name];
        if (settings.group1 === 'none' || settings.group2 === settings.group1) settings.group2 = 'none';
        if (settings.sort === settings.group1 || settings.sort === settings.group2) settings.sort = 'slug';
        $('.main-content .query .select button').removeClass('active').prop('disabled',false);

        if (settings.group1 === 'none') {
            $('.main-content .query .select[name="group2"] button:not([name="none"]').prop('disabled',true);
        } else {
            $('.main-content .query .select[name="group2"] button[name="'+settings.group1+'"]').prop('disabled',true);
        }
        $('.main-content .query .select[name="sort"] button[name="'+settings.group1+'"]').prop('disabled',true);
        $('.main-content .query .select[name="sort"] button[name="'+settings.group2+'"]').prop('disabled',true);

        $('.main-content .query .select[name="group1"] button[name="'+settings.group1+'"]').addClass('active');
        $('.main-content .query .select[name="group2"] button[name="'+settings.group2+'"]').addClass('active');
        $('.main-content .query .select[name="sort"] button[name="'+settings.sort+'"]').addClass('active');
        $('.main-content .query .select[name="color"] button[name="'+settings.color+'"]').addClass('active');
        let enable_names = Object.keys(settings.enabled)
        for (let idx in enable_names) {
            let enable_name = enable_names[idx];
            let enabled = settings.enabled[enable_name];
            if (!enabled) $('.main-content .query .select[name="enable"] button[name="'+enable_name+'"]').addClass('active');
        }

        let config = $('.main-content .config');
        if (settings.config_open !== config.hasClass('open')) {
            if (settings.config_open) {
                config.addClass('open');
                config.find('.open_btn').text('Close Config');
                $('.main-content .query').slideDown();
            } else {
                config.removeClass('open');
                config.find('.open_btn').text('Open Config');
                $('.main-content .query').slideUp();
            }
        }
    }

    //================================================
    function config_open_clicked(e) {
        let settings = wkof.settings[settings_name];
        settings.config_open = !settings.config_open;
        init_query_ui();
        wkof.Settings.save(settings_name);
    }

    //================================================
    function query_button_clicked(e) {
        let target = e.currentTarget;
        let row = target.closest('.select');
        let button_name = target.attributes.name.value;
        let row_name = row.attributes.name.value;

        let settings = wkof.settings[settings_name];
        let recalc = false;
        let save = false;
        let reverse = (e.shiftKey === true);
        switch (row_name) {
            case 'group1':
            case 'group2':
            case 'sort':
                let reverse_name = row_name + '_reverse';
                reverse |= (settings[row_name] === button_name && !settings[reverse_name]);
                if (settings[row_name] === button_name && settings[reverse_name] === reverse) return;
                settings[row_name] = button_name;
                settings[reverse_name] = reverse;
                if (reverse) {
                    $(row).addClass('reverse');
                } else {
                    $(row).removeClass('reverse');
                }
                save = true;
                recalc = true;
                break;

            case 'color':
                if (settings.color === button_name) return;
                settings.color = button_name;
                save = true;
                recalc = true;
                break;

            case 'enable':
                recalc = false;
                target = $(target);
                let container = $('.main-content .items');
                if (e.shiftKey) {
                    let siblings = target.siblings('button');
                    let remove_all = (siblings.filter(':not(.active)').length > 0);
                    siblings.each((idx, sibling) => {
                        sibling = $(sibling);
                        let sibling_name = sibling.attr('name');
                        if (remove_all) {
                            settings.enabled[sibling_name] = false;
                            sibling.addClass('active');
                            container.addClass('hide_'+sibling_name)
                        } else {
                            settings.enabled[sibling_name] = true;
                            sibling.removeClass('active');
                            container.removeClass('hide_'+sibling_name)
                        }
                    });
                    settings.enabled[button_name] = true;
                    target.removeClass('active');
                    container.removeClass('hide_'+button_name);
                } else {
                    settings.enabled[button_name] = !settings.enabled[button_name];
                    container.toggleClass('hide_'+button_name);
                }
                save = true;
                break;
        }
        if (save) wkof.Settings.save(settings_name);
        init_query_ui();
        if (recalc) {
            populate_items();
        } else {
            draw_item_counts();
        }
    }

    //================================================
    let group_infos = {
        joyo_level: {
            compare:   numeric_compare,
            get_key:   ((item) => Number(item.level.slice(6))),
            get_order: ((key) => key), 
            get_label: ((key) => 'Grade ' + key),
        },
        wk_level: {
            compare:   numeric_compare,
            get_key:   ((item) => (item.is_on_wk ? item.data.level : 0)),
            get_order: ((key) => (key === 0 ? 999 : key)),
            get_label: ((key) => (key > 0 ? 'Level '+key : 'Not On Wanikani')),
        },
        item_type: {
            compare:   numeric_compare,
            get_key:   ((item) => item.object),
            get_order: ((key) => ({radical:0, kanji:1, vocabulary:2})[key]),
            get_label: ((key) => ({radical:'Radicals',kanji:'Kanji',vocabulary:'Vocabulary'})[key]),
        },
        srs: {
            compare:   numeric_compare,
            get_key:   ((item) => Number(item.is_on_wk ? (item.assignments && item.assignments.unlocked_at ? item.assignments.srs_stage : -1) : -2)),
            get_order: ((key) => (key === -2 ? 999 : key)),
            get_label: ((key) => srs_names[key+2]),
        },
        slug: {
            compare:   string_compare,
            get_key:   ((item) => item.data.slug),
            get_order: ((key) => key),
            get_label: ((key) => key),
        },
    };
    function numeric_compare(a, b) {return a - b;}
    function string_compare(a, b) {return a.localeCompare(b);}

    //================================================
    let items = [], items_by_id = {};
    function get_items() {
        // Assemble a list of Joyo kanji.
        joyo.kanji = [];
        joyo.kanji_by_id = {};
        joyo.kanji_by_level.forEach(level => {
            let level_name = level.name;
            let slugs = level.kanji.split('');
            slugs.forEach(slug => {
                let item = joyo.kanji_by_id[slug] = {};
                joyo.kanji.push(item);
                item.id = slug;
                item.object = 'kanji';
                item.level = level_name;
                let wk_items = wkdata.items_by_slug[slug];
                if (wk_items === undefined) wk_items = [];
                if (!(wk_items instanceof Array)) wk_items = [wk_items];
                wk_items = wk_items.filter(item => item.object === 'kanji');
                if (wk_items.length > 0) {
                    let wk_item = wk_items[0];
                    item.is_on_wk = true;
                    item.data = wk_item.data;
                    item.assignments = wk_item.assignments;
                    item.study_materials = wk_item.study_materials;
                } else if (joyo.kanji_details[slug]) {
                    item.is_on_wk = false;
                    item.data = joyo.kanji_details[slug];
                    item.data.slug = slug;
                    item.data.level = '---'
                    item.assignments = {srs_stage: -2, unlocked_at:1};
                } else {
                    item.is_on_wk = false;
                    item.assignments = {srs_stage: -2, unlocked_at:1};
                    item.data = {slug:slug, level:'---', meanings:['---'], kunyomi:['---'], onyomi:['---']};
                }
            });
        });

        items = joyo.kanji;
        items_by_id = joyo.kanji_by_id;
    }

    //================================================
    function populate_items() {
        let content = $('section[name="items-joyo"] .items');
        content.html('');

        let settings = wkof.settings[settings_name];
        let group_by = [];
        if (settings.group1 !== 'none') group_by.push([settings.group1, settings.group1_reverse]);
        if (settings.group2 !== 'none') group_by.push([settings.group2, settings.group2_reverse]);
        let order_by = settings.sort;
        let color_by = 'srs';

        get_items();

        let html;
        if (group_by.length === 0) {
            html = '<div class="group" data-depth="1">';
            html += '<h3 class="header">All Items <span class="count"></span></h3>';
            html += populate_array(items);
        } else {
            let grouped_items = categorize(items, group_by);
            html = populate_groups(grouped_items);
        }
        content.html(html);
        content.attr('data-color', color_by);

        let enable_names = Object.keys(settings.enabled)
        let hidden = [];
        for (let idx in enable_names) {
            let enable_name = enable_names[idx];
            let enabled = settings.enabled[enable_name];
            if (!enabled) hidden.push('hide_'+enable_name);
        }
        $('.main-content .items').addClass(hidden.join(' '));
        draw_item_counts();

        //--------------------------------
        function populate_groups(grouped_items, depth) {
            if (!depth) depth = 1;
            let html = '';
            let group_type = grouped_items._group_type;
            let keys = grouped_items._order;
            for (let key_idx in keys) {
                let key = keys[key_idx];
                let group = grouped_items[key];
                let group_name = group_infos[group_type].get_label(key);
                if (depth <= 2) html += '<div class="group" data-type="'+group_type+'" data-depth="'+depth+'">';
                if (depth <= 2) html += '<h3 class="header">'+group_name+' <span class="count"></span></h3>';
                if (group instanceof Array) {
                    html += populate_array(group);
                } else {
                    html += populate_groups(group, depth+1);
                }
                if (depth <= 2) html += '</div>';
            }
            return html;
        }

        //--------------------------------
        function populate_array(group) {
            let html = '';
            let order_info = group_infos[order_by];
            let get_key = order_info.get_key;
            let get_order = order_info.get_order;
            let reverse = (settings.sort_reverse ? -1 : 1);
            let compare = order_info.compare;
            group.sort((a, b) => {
                let result = reverse * compare(get_order(get_key(a)), get_order(get_key(b)));
                if (result) return result;
                result = reverse * a.data.slug.localeCompare(b.data.slug);
                if (result) return result;
                return reverse * a.object.localeCompare(b.object);
            });
            items_html = group.map((item) => {
                let text;
                switch (item.object) {
                    case 'radical':
                        text = load_radical(item);
                        break;
                    case 'kanji':
                    case 'vocabulary':
                        text = item.data.slug;
                        break;
                }
                let srs = -1;
                if (item.assignments && item.assignments.unlocked_at) srs = item.assignments.srs_stage || 0;
                html += '<span class="item" lang="ja" '+
                    'data-id="'+item.id+'" '+
                    'data-type="'+item.object.slice(0,3)+'" '+
                    'data-srs="'+srs_class[srs+2]+'">'+text+'</span>';
            });
            return html;
        }
    }

    //================================================
    function categorize(items, groups) {
        let settings = wkof.settings[settings_name];
        let group = groups[0][0];
        let reverse = (groups[0][1] ? -1 : 1);
        groups = groups.slice(1);
        group_info = group_infos[group];
        let grouped_items = {};
        let keys_are_numbers = (items.length > 0 && (typeof group_info.get_key(items[0]) === 'number'));
        for (let item_idx in items) {
            let item = items[item_idx];
            let key = group_info.get_key(item);
            let item_group = grouped_items[key];
            if (!item_group) grouped_items[key] = item_group = [];
            item_group.push(item);
        }

        let keys = Object.keys(grouped_items);
        if (keys_are_numbers) keys = keys.map(key => Number(key));
        let get_order = group_info.get_order;
        let compare = group_info.compare;
        keys.sort((a, b) => {return reverse * compare(get_order(a), get_order(b));});

        // Categorize sub-groups
        if (groups.length > 0) {
            for (let key_idx in keys) {
                let key = keys[key_idx];
                grouped_items[key] = categorize(grouped_items[key], groups);
            }
        }

        Object.defineProperty(grouped_items, '_group_type', {value: group, writable: true, enumerable: false});
        Object.defineProperty(grouped_items, '_order', {value: keys, writable: true, enumerable: false});
        return grouped_items;
    }

    //================================================
    function load_radical(item) {
        if (!window.wksvg) window.wksvg = {};
        let id = item.id;
        if (wksvg[id]) return wksvg[id];

        let url = item.data.character_images.filter((ci) => ci.content_type==='image/svg+xml' && !ci.metadata.inline_styles)[0].url;
        if (typeof url !== 'string') return '??';
        wkof.load_file(url).then(content => {
            content = content.replace(/(^\s+|\s+$)/g, '');
            wksvg[id] = content;
            $('.main-content [data-type="rad"][data-id="'+id+'"]').html(content);
        });

        return '&nbsp;'
    }

    //================================================
    function draw_item_counts() {
        let settings = wkof.settings[settings_name];
        $('.main-content .group').prop('hidden', false).each((idx, group) => {
            let items = group.querySelectorAll('.item');
            let visible_cnt = 0;
            for (let idx = 0; idx < items.length; idx++) {
                if (items[idx].offsetWidth > 0) visible_cnt++;
            }
            group.querySelector('.count').innerText = '('+visible_cnt+' of '+items.length+' shown)';
            if (visible_cnt === 0) group.setAttribute('hidden', 'hidden');
        });
    }

    //================================================
    function to_title_case(str) {
        return str.replace(/\w\S*/g, function(txt){
            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        });
    }

    //================================================
    function item_info_show(e) {
        let target = $(e.currentTarget);

        let item_id = target.attr('data-id');
        let item = items_by_id[item_id];
        let html;

        let meanings, readings, reading_type;
        switch (item.object) {
            case 'kanji':
                html = '<span class="item_name">Kanji: <span class="data slug" lang="ja">'+item.data.slug+'</span></span><br>';
                if (item.is_on_wk) {
                    readings = item.data.readings.filter((reading) => reading.accepted_answer);
                    reading_type = to_title_case(readings[0].type);
                    readings = readings.map((reading) => reading.reading);
                    html += reading_type+': <span class="data" lang="ja">'+readings.join(', ')+'</span><br>';
                    meanings = item.data.meanings.filter((meaning) => meaning.accepted_answer).map((meaning) => meaning.meaning);
                } else {
                    reading_type = 'Reading';
                    readings = item.data.readings;
                    html += 'Kunyomi: <span class="data" lang="ja">'+item.data.kunyomi.join(', ')+'</span><br>';
                    html += 'Onyomi: <span class="data" lang="ja">'+item.data.onyomi.join(', ')+'</span><br>';
                    meanings = item.data.meanings;
                }
                break;
        }
        html += 'Meaning: <span class="data">'+to_title_case(meanings.join(', '))+'</span><br>';
        html += 'Wanikani Level: <span class="data">'+item.data.level+'</span><br>';
        if (item.is_on_wk) {
            let srs = (item.is_on_wk ? ((item.assignments && item.assignments.unlocked_at) ? item.assignments.srs_stage : -1) : -2);
            html += 'SRS Level: <span class="data">'+srs_names[srs+2]+'</span>';
            if (item.assignments && item.assignments.available_at) {
                html += '<br>Next Review: <span class="data">'+new Date(item.assignments.available_at).toLocaleString()+'</span>';
            }
        }
        html += '<hr>Joyo Level: <span class="data">'+item.level+'</span><br>';

        let offset = target.position();
        let info = $('.main-content .item_info');
        let center = $('.main-content section').innerWidth() / 2;
        let css;
        if (offset.left <= center) {
            css = {
                left: offset.left,
                right: 'unset',
                top: offset.top + target.outerHeight() + 4
            };
        } else {
            css = {
                left: 'unset',
                right: center*2 - (offset.left + target.outerWidth()),
                top: offset.top + target.outerHeight() + 4
            };
        }
        css['max-width'] = Math.round(center) + 'px';
        info.html(html).css(css).prop('hidden', false);
    }

    //================================================
    function item_clicked(e) {
        let elem = e.currentTarget;
        let id = elem.attributes['data-id'].value;
        let item = items_by_id[id];
        let item_type = item.object;
        if (item_type === 'radical') item_type = 'radicals';
        let url;
        if (!item.is_on_wk || e.shiftKey) {
            url = 'https://jisho.org/search/%23kanji%20'+encodeURI(item.data.slug);
        } else {
            url = encodeURI('https://www.wanikani.com/'+item_type+'/'+item.data.slug);
        }
        window.open(url, '_blank');
    }

    //================================================
    function copy_items() {
        $('.main-content .items .item[data-type="rad"]').each((idx, elem) => {
            let id = elem.attributes['data-id'].value;
            let item = items_by_id[id];
            $(elem).append('<span class="comma">'+item.data.slug+'</span>');
        });
        $('.main-content .items .group').find('>.item:visible:not(:last)').append('<span class="comma">,</span>');
        setTimeout(function() {
            $('.main-content .items .item > .comma').remove();
        }, 100);
    }

    //================================================
    function item_info_hide(e) {
        $('.main-content .item_info').prop('hidden', true);
    }

})();

</script>

