<!--
@version     1.0.5
@copyright   2018+, Robin Findley
-->

<link rel="stylesheet" href="/css/components/items/frequency.css" />

<section name="items-freq">
  <h1>Kanji By Frequency</h1>
  <br />

  <div class="config">
    <span class="open_btn">Open Config</span>
    <div class="query" style="display: none">
      <fieldset>
        <legend>Frequency Grouping</legend>
        <div class="irow">
          <label>Group Size:</label>
          <input name="freq_size" type="text" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Group By</legend>
        <div class="irow">
          <label>Primary:</label>
          <span
            name="group1"
            class="select sort"
            title="Click to group items, sorted in ascending order.
Click again or shift-click to reverse sort order."
          >
            <button name="none">None</button>
            <button name="freq">Frequency</button>
            <button name="wk_level">WaniKani Level</button>
            <button name="srs">SRS Stage</button>
          </span>
        </div>
        <div class="irow">
          <label>Secondary:</label>
          <span
            name="group2"
            class="select sort"
            title="Click to group items, sorted in ascending order.
Click again or shift-click to reverse sort order."
          >
            <button name="none">None</button>
            <button name="freq">Frequency</button>
            <button name="wk_level">WaniKani Level</button>
            <button name="srs">SRS Stage</button>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Sort Items By</legend>
        <div class="irow">
          <label>Sort By:</label>
          <span
            name="sort"
            class="select sort"
            title="Click to sort in ascending order.
Click again or shift-click to reverse sort order."
          >
            <button name="freq">Frequency</button>
            <button name="wk_level">WaniKani Level</button>
            <button name="srs">SRS Stage</button>
            <button name="slug">Item Name</button>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <legend>Show/Hide</legend>
        <div class="irow">
          <label>SRS Stage:</label>
          <span
            name="enable"
            class="select multi enable"
            title="Click to toggle visibility of this category.
Shift-click to hide all except this category.
Shift-click again to restore all items to visible."
          >
            <button name="lock">Locked</button>
            <button name="init">Lesson</button>
            <button name="appr1">Apprentice 1</button>
            <button name="appr2">Apprentice 2</button>
            <button name="appr3">Apprentice 3</button>
            <button name="appr4">Apprentice 4</button>
            <button name="guru1">Guru 1</button>
            <button name="guru2">Guru 2</button>
            <button name="mast">Master</button>
            <button name="enli">Enlightened</button>
            <button name="burn">Burned</button>
            <button name="nonwk">Not on WK</button>
          </span>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="items">Loading...</div>
  <div class="item_info" hidden></div>
</section>

<script src="/js/components/items/frequency.js"></script>
